@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

// Bootstrap variable overrides
$body-bg: #2C262F;
$body-color: #fff;
$primary: #F8E71C;
$dark: #2B262D;

$font-size-base: 0.75rem;
$font-family-base: "Open Sans",Roboto,Arial,sans-serif;
$h2-font-size: 2.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: $font-size-base;

$container-padding-x: 2rem;
$container-padding-y: $container-padding-x;

$card-border-radius: 10px;
$card-border-width: 0;
$card-title-spacer-y: -.25rem;

$btn-focus-box-shadow: none;
$input-bg: #fff;

@import "~bootstrap/scss/bootstrap";